/* src/components/Dashboard.css */
.dashboard {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    height: 100vh;
    /* 100% of the viewport height */
}

.main-container {
    display: flex;
    flex: 1;
    align-items: stretch;
    /* Expand and fill remaining space */
}

.content-container {
    flex: 1;
    /* Expand and fill remaining space */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Stack children vertically */
}

.main-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  /* Vertically center the contents of each column */
  align-items: center;
  justify-content: center;
}

.left-column {
  width: 40%;
  padding-right: 20px;
}

.right-column {
    width: 60%;
    height: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: center; /* Center the action card vertically */
    align-items: center; /* Center the action card horizontally */
  }

.dashboard-card {
    background: linear-gradient(to bottom, #3498db, #bf9ccd); /* Adjust gradient colors as needed */
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.action-card {
    height: 50%;
    width: 70%;
    display: flex; /* Change to flex */
    justify-content: space-around; /* Adjust spacing between buttons */
    align-items: center; /* Vertically center buttons */
    margin: auto;
}
  
.action-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
  
  .action-button {
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #fff; /* Border color same as text color */
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.3s;
  }
  
  .action-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Adjust opacity as needed */
  }
  
  .dropdown-container {
    position: relative;
  }
  
  .dropdown-toggle {
    cursor: pointer;
    grid-column: span 2; /* Span across two columns */
  }
  
.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 120px;
    /* Adjust as needed */
    overflow-y: auto;
}
  
.dropdown-option {
    color: #333; /* Change text color as needed */
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s; /* Add color transition */
  }

.dropdown-option:last-child {
    border-bottom: none;
}

.dropdown-option:hover {
    background-color: black;
    color: #fff; /* Change text color on hover */
  }