.container {
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    transition: margin-left 0.3s ease;
}
  
.maindiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .commondiv {
    border: 2px solid;
    height: 8rem;
    border-radius: 1rem;
    text-align: center;
  }
  
  .patientDetails {
    margin-top: 5rem;
  }
  .patientDetails h1 {
    margin-bottom: 1rem;
    color: rgb(184 191 234);
  }
  
  .patientBox {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 0px 36px -3px #00000026;
  }
  
  .commondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    box-shadow: 0px 0px 36px -3px #00000026;
    border: none;
    background-color: white;
    cursor: pointer;
  }
  
  .overviewIcon {
    font-size: 4rem;
    color: rgb(184 191 234);
  }

  
  
  .commondiv:hover {
    background-color: #f0f0f0; 
  }

  .sidebar-expanded {
    margin-left: 120px; 

  }