.centered-box {
    width: 50%; /* Adjust the width as per your requirement */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #55c86c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(34, 28, 28, 0.1);
    background-color: #55c86c;
    position: relative;
    align-self: center;
    height: 450px;
}

.Stage-1 input {
    width: 35%;
    padding: 8px;
    margin-bottom: 0px;
    border: 1px solid #042c40;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
}

.Stage-Components {
    border: 2px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    margin: 20px 0; /* Margin around the box */
    margin-top: 70px;
    height: 300px;
    background-color: #d7dee4;
    overflow: auto;
}

.TermsAndConditions {
    border: 1px solid #042c40;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}